@charset "UTF-8";



/**** CUSTOM TEXT STYLES */



/* COLORS and BUTTONS */



a, .navbar-inverse .navbar-nav > li > a {
  color: #68c1e5;
}
.inner {
  background-color: #f2f2f2;
}
.inner .container {
  background-color: #fff;
}


/* TABLES */
th {
  color: #01374c;
}

.table > thead > tr > th {
  border-bottom-color: #01374c;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top-color: #fff;
}

.table-hover > tbody > tr:hover  {
  background-color: #cfebf2;
}


 



/* COMPONENTS */

.panel-heading .form{
  text-align: center;
  color: #fff;
  background-color: #01374c;
}
.page-header {
  bottom-border-color: #f2f2f2;
}

.wadat-symbol {
  background-image: url('../assets/WADAT-icon-white.png');
  background-repeat: no-repeat;
  background-position-x: calc(114%);
   background-position-y: calc(0);
}






/* MEDIA QUERIES */

